<!-- 
Coding Credits:

For the purposes of acknowledgement, this HTML structure was inspired by the following tutorial:
https://youtu.be/Z1RJmh_OqeA
-->

{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}


<h1>Completed Forms</h1>

{% if submissions and submissions|length > 0 %}
  <div class="cards">
    {% for sub, f, fv, u in submissions %}
      <div class="card">
        <p class="card-title">{{ f.title }}</p>
        <p class="muted">Submitted: {{ sub.submitted_at }}</p>
        <p class="muted">Version: {{ fv.version_number }}{% if is_admin %} · By: {{ u.username }}{% endif %}</p>
        <div class="card-footer">
          <a class="btn" href="{{ url_for('view_submission', submission_id=sub.submission_id) }}">View form</a>
        </div>
      </div>
    {% endfor %}
  </div>
{% else %}
  <p>No submitted forms yet.</p>
{% endif %}
{% endblock %}